<div>
<iframe src="http://85.11.83.98:8080/kaps2/powitania2/index3.php" frameborder="0" scrolling="yes"                           
                                    style="overflow: hidden;
                                           width: 100%; 
					   height:49%;
					   marigin: auto"
                                   ></iframe>
</div>
<div>
<iframe src="http://raslock.jwdev.tech/login" frameborder="0" scrolling="yes"                           
                                    style="overflow: hidden;
                                           width: 100%; 
				           height:49%;
				           text-align: center;"
                                   align="center"></iframe>
</div>
