

<div>
<iframe src="film.html" frameborder="0" scrolling="yes"                           
                                    style="overflow: hidden;
                                           width: 100%; 
					   height:49%;
					   marigin: auto"
                                   ></iframe>
</div>
<div>
<iframe src="https://raslock.jwdev.tech/login" frameborder="0" scrolling="yes"                           
                                    style="overflow: hidden;
                                           width: 100%; 
				           height:49%;
				           text-align: center;"
                                   align="center"></iframe>
</div>
